html{
    height: 100%;
    min-height: 100%;

    //font-family
}


body{
    height: 100%;
    min-height: 100%;
    background: $body-bg;
}

.btn-red-default{
    background-color: $white-default;
    &:hover, &:active {
        background-color: $red-dark-default;
        color: $white-default;
        transition: .3s all;
    }
}

.upper{
    text-transform: uppercase !important;
}