#footer{
    padding:4.5em 0;
    background: $red-default;

    .img-logo{
        img{
            width: 15em;
            display: inline;
        }
    }

    .social{
        padding:1em 0;
        p{
            color:$white-default;
            font-size:1.2em;
        }
        i{
            font-size:1.2em;
            color:$white-default;
            margin:0.3em 1.5em 0 1.5em;
        }
        .facebook{
            font-size: 1.3em;
        }
        .instagram{
            font-size: 1.3em;
        }
        .whatsapp{
            font-size: 1.3em;
        }
    }
}   