<header id="header">
    <div class="container">
        <div class="row">
            <div class="col-xs-12 col-md-3 text-center logo">
                <img src="/images/logo.png" alt="" class="img-responsive">
            </div>
            <div class="col-xs-12 col-md-5 col-md-offset-4 text-center account">
                <div class="row">
                   <div class="btn-group" role="group">
                       <a href="#" class="btn btn-red-default upper">
                            Entrar / Registrar
                       </a>
                       <a href="#" class="btn btn-red-default shopping upper">
                            <i class="fa fa-shopping-cart"></i>
                       </a>
                   </div>
                </div>
            </div>
        </div>
        <div class="row">
            <nav class="navbar navbar-default">    
                <div class="navbar-header">
                    <button type="button" class="navbar-toggle" data-toggle="collapse" data-target="#navbar">
                        <span class="sr-only">Toggle</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                    </button>
                </div>
                <div class="navbar-collapse collapse" id="navbar">
                    <ul class="nav navbar-nav navbar-left">
                        <li>
                            <a href="/">Home</a>
                        </li>
                        <li>
                            <a href="/">Cat 1</a>
                        </li>
                        <li>
                            <a href="/">Cat 2</a>
                        </li>
                    </ul>
                </div>
            </nav>

        </div>
    </div>

    <div id="slider" class="carousel slide" data-ride="carousel">
        <div class="carousel-inner">
            <div class="item active">
                <div class="fill img-responsive" style="background-image:url(/images/slide/1.jpg)">
                    <div class="carousel-caption">
                        <h2>Test Text 1 </h2>
                        <p>Teste Texto 1 </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="fill img-responsive" style="background-image:url(/images/slide/2.jpg)">
                    <div class="carousel-caption">
                        <h2>Test Text 2 </h2>
                        <p>Teste Texto 2 </p>
                    </div>
                </div>
            </div>
            <div class="item">
                <div class="fill img-responsive" style="background-image:url(/images/slide/3.jpg)">
                    <div class="carousel-caption">
                        <h2>Test Text 2 </h2>
                        <p>Teste Texto 2 </p>
                    </div>
                </div>
            </div>

            <a href="#slider" class="left carousel-control" data-slide="prev">
                <i class="fa fa-angle-left"></i>
            </a>
            <a href="#slider" class="right carousel-control" data-slide="next">
                <i class="fa fa-angle-right"></i>
            </a>
        </div>
    </div>
</header>